<!DOCTYPE html>
<html>

<head>
  <meta charset='utf-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <title>Login</title>
  <link rel="stylesheet" href="/stylesheets/font-awesome-4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
  <link rel="stylesheet" href="/stylesheets/main.css">
  <script src="https://www.google.com/recaptcha/api.js" async defer></script>
  <style type="text/css">
    #recaptcha {
    margin: 0 auto;
    width: 100%;
    display: flex;
    justify-content: center;
}
  </style>
 <script>
    function onRecaptchaSuccess() {
        document.getElementById('login-button').disabled = false;
        document.getElementById('recaptcha-error').style.display = 'none';
    }

    function onRecaptchaError() {
        document.getElementById('recaptcha-error').style.display = 'block';
    }

    function initializeRecaptcha() {
        // Ensure that the grecaptcha object is available
        if (typeof grecaptcha !== 'undefined') {
            grecaptcha.render('recaptcha', {
                'sitekey': '6Lfs30QqAAAAAPP35tVyMXGm_ukRhxNgTY2jcDhq',
                'callback': onRecaptchaSuccess,
                'expired-callback': onRecaptchaError,
                'error-callback': onRecaptchaError
            });
        } else {
            console.error('reCAPTCHA script is not loaded.');
            document.getElementById('recaptcha-error').style.display = 'block';
        }
    }

    document.addEventListener('DOMContentLoaded', function () {
        document.getElementById('login-button').disabled = true;
        
        // Wait for the reCAPTCHA script to fully load
        window.onload = function () {
            initializeRecaptcha();
        };
    });
</script>
</head>

<body class="login-screen">
  <div class="login-form container">
    <h1 id="omni">OMNI</h1>
    <h1 class="btn btn-default" id="login-text">Login</h1>
    <h2>OMNI</h2>
    <div class="flash-msg"></div>
    <form id="login-form" action="/login" method="POST">
      <div class="form-group">
        <input type="text" class="form-control" name="username" placeholder="Username" required>
      </div>
      <div class="form-group">
        <input type="password" class="form-control" name="password" placeholder="Password" required>
      </div>
      <div class="form-group">
        <div id="recaptcha" class="g-recaptcha"></div>
        <div id="recaptcha-error" style="color: red; display: none;">Please complete the reCAPTCHA.</div>
      </div>
      <div class="form-group">
        <input type="submit" id="login-button" class="btn btn-default" value="Login" disabled>
      </div>
      <a href="/resetpassword" class="small-text">Forgot your password?</a>
    </form>
  </div>
  <div style="margin: 0 auto;">
    <div class="whiteboard">
      <div class="tools-login">
        <div class="colors">
          <div class="color white"></div>
          <div class="color black"></div>
          <div class="color red"></div>
          <div class="color green"></div>
          <div class="color blue"></div>
          <div class="color yellow"></div>
        </div>
        <div class="size">
          <label>Brush Size:</label>
          <input type="number" id="size" min="1" max="30" placeholder="1 - 30 (default 3)">
        </div>
      </div>
      <canvas id="myCanvas">Sorry, your browser does not support HTML5 canvas technology.</canvas>
    </div>
  </div>
  <a href="#" id="open-whiteboard" class="whiteboard-toggle-btn btn btn-default">Whiteboard</a>

  <% include ../partials/footer %>

</body>

</html>
