<% include ./partials/header %>

<div class="profile">
	<div class="container">
		
		<% include ./partials/profile-content-tabs.ejs %>

		<div class="content-tabs">
			<div class="semi-circle"><p>Placeholder</p></div>
			<div class="semi-circle"><p>Placeholder</p></div>
			<div class="semi-circle"><p>Placeholder</p></div>
			<div class="semi-circle"><p>Placeholder</p></div>
			<div class="semi-circle"><p>Placeholder</p></div>
			<div class="semi-circle"><p>Placeholder</p></div>
		</div>
		<div class="content">
			<h1>Content</h1>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia quasi, hic assumenda ut inventore iste. Aliquid earum tenetur nesciunt voluptatum excepturi, quidem dolorum quae quo rem hic corrupti. Beatae, hic!</p>
		</div>
	</div>
</div>

<% include ./partials/footer %>