<nav class="navbar navbar-fixed-top" id="sidebar-wrapper" role="navigation">
    <ul class="nav sidebar-nav">
      <li class="sidebar-tabs" data-attribute="all-users">
          <a class="point-cursor">All Users</a>
      </li>
      <li class="sidebar-tabs" data-attribute="point-system">
          <a class="point-cursor">Point System</a>
      </li>
      <li class="sidebar-tabs" data-attribute="process">
          <a class="point-cursor">Process</a>
      </li>
      <li class="sidebar-tabs" data-attribute="process-crm">
          <a class="point-cursor">Process CRM</a>
      </li>
      <li class="sidebar-tabs" data-attribute="office-crm">
          <a class="point-cursor">Office CRM</a>
      </li> 

      <li class="sidebar-tabs">
          <a href="/manage-subscription" class="manage-subscription">Manage Subscription</a>
      </li>
			<li class="dropdown point-cursor">
        <a class="dropdown-toggle" data-toggle="dropdown">User Suggestions <span class="caret"></span></a>
        <ul class="sidebar-nav dropdown-menu" role="menu">
          <li class="sidebar-tabs" data-attribute="profile-app"><a class="point-cursor">My Profile</a></li>
          <li class="sidebar-tabs" data-attribute="points-app"><a class="point-cursor">Points(coming soon)</a></li>
          <li class="sidebar-tabs" data-attribute="process-app"><a class="point-cursor">Process</a></li>
          <li class="sidebar-tabs" data-attribute="crm-app"><a class="point-cursor">Process CRM</a></li>
          <li class="sidebar-tabs" data-attribute="ecrm-app"><a class="point-cursor">Online CRM</a></li>
          <li class="sidebar-tabs" data-attribute="link-store-app"><a class="point-cursor">Link Store</a></li>
          <li class="sidebar-tabs" data-attribute="interview-app"><a class="point-cursor">Interviews</a></li>
          <li class="sidebar-tabs" data-attribute="storage-app"><a class="point-cursor">Storage</a></li>
        </ul>
      </li>
      <li class="dropdown point-cursor">
      <a class="dropdown-toggle" data-toggle="dropdown">Site Setup <span class="caret"></span></a>
      <ul class="sidebar-nav dropdown-menu" role="menu">
        <li class="sidebar-tabs"><a href="/backoffice/introduction">Introduction</a></li>
        <li class="sidebar-tabs"><a href="/backoffice/setup">Setup</a></li>
      </ul>
    </li>
    </ul>
  </nav>