<% include ./partials/processHeader %>

<div class="container process page-page">
	<p id="title">Backoffice</p>
	<p id="message">Create Page</p>
	<div class="create-page">
		<form action="/opportunity/backoffice/createpage" method="POST">
			<div class="form-group">
				<label for="name">Route Name:</label>
				<input class="form-control" type="text" name="name" placeholder="No whitespace. Letters and numbers only.">
			</div>
			<div class="form-group">
				<label for="mc_question">Multiple choice Question:</label>
				<input class="form-control" type="text" name="mc_question" placeholder="No whitespace. Letters and numbers only.">
			</div>
			<div class="form-group">
				<label for="a">a:</label>
				<input class="form-control" type="text" name="a">
			</div>
			<div class="form-group">
				<label for="b">b:</label>
				<input class="form-control" type="text" name="b">
			</div>
			<div class="form-group">
				<label for="c">c:</label>
				<input class="form-control" type="text" name="c">
			</div>
			<div class="form-group">
				<label for="d">d:</label>
				<input class="form-control" type="text" name="d">
			</div>
			<div class="form-group">
				<label for="correct_answer">Correct Answer:</label>
				<input class="form-control" type="text" name="correct_answer">
			</div>
			<div class="form-group">
				<label for="title">Page Title:</label>
				<input class="form-control" type="text" name="title">
			</div>
			<div class="form-group">
				<label for="summary">Page summary:</label>
				<textarea class="form-control" type="text" name="summary" rows="4"></textarea>
			</div>
			<div class="form-group">
				<label for="content">Page Content:</label>
				<textarea class="form-control" type="text" name="content" rows="4"></textarea>
			</div>
			<div class="form-group">
				<label for="instruction">Page Instruction:</label>
				<textarea class="form-control" type="text" name="instruction" rows="4"></textarea>
			</div>
			<div class="form-group">
				<label for="question">Question:</label>
				<textarea class="form-control" type="text" name="question" rows="4"></textarea>
			</div>
			<button class="btn btn-success">Create</button>
		</form>
	</div>
</div>

<% include ./partials/processFooter %>