<% include ecrm-partials/ecrmHeader %>

<div class="container crm page">
	<% include ecrm-partials/navTabs %>
	<hr>
	<p id="title">Projects</p>
	<p id="add-project" class="float-right point-cursor" data-toggle="modal" data-target="#add-project-form"><i class="fa fa-plus-circle" aria-hidden="true"></i> Add a new project</p>
	<div class="project-list">
		<h4>Projects</h4>
		<% if (projects.length > 0) { %>
			<% for (var i=0;i<projects.length;i++) { %>
				<div>
					<a href="/office/project/<%= projects[i].project_id %>"><%= projects[i].title %></a>
				</div>
			<% } %>	
		<% } else { %>
			<p>You don't have any projects</p>
		<% } %>
	</div>
</div>

<!-- modal start -->
<div class="modal" id="add-project-form" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
  	<div class="modal-content">
  		<button class="btn btn-danger btn-sm" id="close-modal-form" data-dismiss="modal">Close</button>
  		<h3>New Project</h3>
  		<form action="/office/createproject %>" method="POST">
				<div class="form-group">
					<label for="title">Title</label>
					<input type="text" name="title" class="form-control">
				</div>
	  		<button class="btn btn-success">Create Project</button>
	  	</form>
		</div>
	</div>
</div>
<!-- modal end -->

<% include ecrm-partials/ecrmFooter %>