<% include ecrm-partials/ecrmHeader %>

<div class="container crm page">
	<% include ecrm-partials/navTabs %>
	<hr>
	<p id="title">Settings</p>
	<p class="sub-title align-center">Office keys</p>
	<div class="form-group">
		<input class="form-control app-keys" type="text" value="5" readonly>
	</div>
</div>

<% include ecrm-partials/ecrmFooter %>